@charset "UTF-8";

.container {
	max-width: 1024px;
}

.left, .right {
	padding-top: 1px;
	margin: auto;
	display: block;
	height: 182px;
}

.left img {
	border-radius: 10px;
}

.page-header {
	text-align: center;
}

.page-header .input-group {
	margin: auto;
	width: 50%;
}

.row {
	padding: 20px 0 20px 0;
	border-bottom: 1px solid #ccc;
}

.right {
	padding-top: 60px;
}

.right .favorite {
	text-align: center;
}

.left .box {
	margin-right: 20px;
	float: left;
}

.left h4, p {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#search {
	background: #fff;
	color: #00dffc;
}
/**체크박스 꾸미기**/
.favorite {
	display: block;
	width: 90px;
	height: 50px;
	margin: auto;
	cursor: pointer;
}

.favorite input {
	display: none;
}

.favorite .check-box, .check-text {
	text-align: center;
	cursor: pointer;
}

.favorite .check-text {
	padding-top: 13px;
	display: block;
	float: right;
	margin-left: 5px;
	font-size: 22px;
	color: #333;
}

.favorite .check-box {
	font-size: 40px;
}

.favorite input[type="checkbox"]+.check-box:before {
	font-family: FontAwesome;
	content: "\f111";
	line-height: 1;
	color: #00dffc;
}

.favorite input[type="checkbox"]:checked+.check-box:before {
	content: "\f058";
	color: #00dffc;
}

@media screen and (max-width: 720px) {
	.favorite .check-text {
		visibility: hidden;
	}
}
/**체크박스꾸미기 끝**/