@charset "UTF-8";

#bot-container {
	color: white;
	margin: auto;
	max-width: 1024px;
	background-color: #343838;
}

.bot-container #bot-row {
	margin: auto;
	padding: 0;
	height: 100%;
}

@font-face {
  font-family: 메이플스토리;
  src: url(../font/MaplestoryBold.woff) format('woff'),
  		url(../font/MaplestoryBold.ttf) format('ttf');
}