@charset "UTF-8";

.item {
	border: 1px solid #00ffff;
	padding: 5px 5px 0 5px;
	margin-bottom: 10px;
}

.plan-map img{
	margin: auto;
	width: 100%;
	max-height: 500px;
}

.item .box {
	margin-right: 20px;
	float: left;
}

.item h4, p {
	color: black;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.plan-head {
	margin-bottom: 20px;
	border-bottom: 3px solid #ccc;
}

.plan-row {
	margin-bottom: 30px;
}

#memo {
	margin:auto;
	width: 100%;
	min-height: 500px;
	max-height: 500px;
}

.plan-btn-group {
	text-align: right;
}

.plan-btn {
	bottom: 10px;
	right: 10px;
	margin-top: -20px;
	margin-bottom: 20px;
}