@charset "UTF-8";
body {
    margin: auto;
    max-width: 1024px;
}

.container {
   
    margin: auto;
}

/** λ¨λ“  μΈν’‹ **/
.profile-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}
.input-id,
.input-pw,
.input-pw2,
.input-name,
.input-birth,
.input-seibetu,
.input-email {
    width: 70%;
    margin: auto;

}

.page-all {
    width: 100%;
    height: 1100px;
}

.input-id,
.input-pw,
.input-pw2,
.input-name,
.input-birth,
.input-seibetu,
.input-email {
    height: 115px;
    margin: auto;
}