@charset "UTF-8";


.container {
   
    margin: auto;
}

.join_form {
	margin-top: 50px;
}
.btn-block {
	margin-top: 50px;
}

/** λ¨λ“  μΈν’‹ **/

.input-pw,
.input-pw2,
.input-name,
.input-birth,
.input-seibetu,
.input-email {
    width: 70%;
    margin: auto;
    height: 115px;
}
.input-id{
    width: 70%;
    margin: auto;
    height: 115px;
    margin-bottom: 20px;
}

.birth{
    text-align: right;
}
label.error{
    color:red;
    font-size: 10px;
    display: inline-block;
    padding: 5px 10px;
    margin: 0;
}
.num_{
     text-align: left;
}
.num_,
.email_{
    margin-bottom: 10px;
}

.num_go{
    margin-bottom: 30px;
   
}
.page-all {
    width: 100%;
    height: 1100px;
}
