@charset "UTF-8";
.hr-class{max-width: 1024px;}
		.container{
			margin: auto;
        max-width: 1024px;
		}
		.log-in {
			text-align: center;
			margin: auto;
			width: 50%;
		}
		.form-control .form-group{
			
			text-align: center;
		}
		.hr-class{
			height: 115px;
		}
		.PP{
			height: 125px;
		}
		.ppp{
			height: 50px;
		}