@charset "UTF-8";
body {
    margin: auto;
    max-width: 1024px;
}

.container {
    max-width: 70%;
    margin: auto;
}

/** λ¨λ“  μΈν’‹ **/
.input-id,
.input-pw,
.input-pw2,
.input-name,
.input-birth,
.input-seibetu,
.input-email {
    width: 70%;
    margin: auto;

}

.page-all {
    width: 70%;
}

.input-id,
.input-pw,
.input-pw2,
.input-name,
.input-birth,
.input-seibetu,
.input-email {
    height: 115px;
    margin: auto;
}