@charset "UTF-8";
body {
    margin: auto;
    max-width: 1024px;
    

}



.page-all {
	text-align:left;
	width : 700%;
    max-width : 1024px;
    height: 900px;
}
/** λ¨λ“  μΈν’‹ **/
.input-id,
.input-pw,
.input-pw2,
.input-name,
.input-birth,
.input-seibetu,
.input-email {
    width: 70%;
    margin: auto;
}

.input-id,
.input-pw,
.input-pw2,
.input-name,
.input-birth,
.input-seibetu,
.input-email {
    height: 100px;
}

.birth,
.month1,
.day,
.seibetu2
    {
    margin: auto;
    height: 30px;
}